/* stylelint-disable */
:root {
  --color-main: #fff;
  --color-second: #272727;
  --color-white: #fff;
  --color-black: #272727;
  .dark-themes {
    --color-main: #272727;
    --color-second: #fff;
    --color-white: #fff;
    --color-black: #272727;
    .s-header__logo-image,
    .s-header__phone-image {
      filter: invert(1);
    }
  }
}
/* stylelint-enable */
