/* stylelint-disable no-descending-specificity */

.s-admin {
  color: var(--color-second);
  &__title{
    font-size: rem(18);
    line-height: 135%;
    font-weight: 600;
    color: var(--color-second);
    margin-bottom: rem(15);
    @include _768 {
      font-size: rem(24);
    }
  }
  &__subtitle{
    display: flex;
    flex-direction: column;
    font-size: rem(16);
    line-height: 135%;
    font-weight: 600;
    color: var(--color-second);
    margin-bottom: rem(15);
  }
  &__date{
    font-size: rem(16);
    line-height: 135%;
    font-weight: 600;
    color: var(--color-red);
  }
  &__top{
    border: rem(1) solid var(--color-grey);
    border-radius: var(--border-radius-x1);
    padding: var(--a-padding-x6) var(--a-padding-x4);
    margin-top: rem(40);
  }
  &__column{
    margin-bottom: rem(20);
  }
}
/* stylelint-enable no-descending-specificity */
